.bg-sidebar {
  /* background: #3d68ff; */
  background: #8672FF;
}

.cta-btn {
  /* color: #3d68ff; */
  color: #8672FF;
}

.upgrade-btn {
  /* background: #1947ee; */
  background: #6347FF;
  /* background: #5746b6; */
}

.upgrade-btn:hover {
  /* background: #0038fd; */
  /* background: #5746b6; */
  background: #6347FF;
}

.active-nav-link {
  /* background: #1947ee; */
  background: #5746b6;
}

.nav-item:hover {
  /* background: #1947ee; */
  background: #5746b6;
}

.account-link:hover {
  /* background: #3d68ff; */
  background: #8672FF;
}
